$gray-base: rgb(0, 0, 0);
$gray-darker: rgb(34, 34, 34);
$gray-dark: rgb(40, 40, 40);
$gray: rgb(85, 85, 85);
$gray-light: rgb(136, 136, 136);
$gray-lighter: rgb(173, 175, 174);
$brand-primary: rgb(42, 159, 214);
$brand-success: rgb(119, 179, 0);
$brand-info: rgb(153, 51, 204);
$brand-warning: rgb(255, 136, 0);
$brand-danger: rgb(204, 0, 0);
$body-bg: rgb(21, 21, 21);
$text-color: $gray-light;
$link-color: $brand-primary;
$link-hover-color: $link-color;
$link-hover-decoration: underline;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * 0.85));
$font-size-h1: 56px;
$font-size-h2: 45px;
$font-size-h3: 34px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 16px;
$line-height-base: 1.428571429;
$line-height-computed: floor(($font-size-base * $line-height-base));
$headings-font-family: $font-family-base;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: rgb(255, 255, 255);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$icon-font-name: "glyphicons-halflings-regular";
$icon-font-svg-id: "glyphicons_halflingsregular";
$padding-base-vertical: 8px;
$padding-base-horizontal: 12px;
$padding-large-vertical: 14px;
$padding-large-horizontal: 16px;
$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;
$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;
$line-height-large: 1.3333333;
$line-height-small: 1.5;
$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;
$component-active-color: rgb(255, 255, 255);
$component-active-bg: $brand-primary;
$caret-width-base: 4px;
$caret-width-large: 5px;
$table-cell-padding: 8px;
$table-condensed-cell-padding: 5px;
$table-bg: darken($gray-darker, 4%);
$table-bg-accent: darken($table-bg, 6%);
$table-bg-hover: $gray-dark;
$table-bg-active: $table-bg-hover;
$table-border-color: $gray-dark;
$btn-font-weight: normal;

$btn-default-color: rgb(255, 255, 255);
$btn-default-bg: lighten($gray-dark, 10%);
$btn-default-border: $btn-default-bg;

$btn-primary-color: $btn-default-color;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $btn-primary-bg;

$btn-success-color: $btn-default-color;
$btn-success-bg: $brand-success;
$btn-success-border: $btn-success-bg;

$btn-info-color: $btn-default-color;
$btn-info-bg: $brand-info;
$btn-info-border: $btn-info-bg;

$btn-warning-color: $btn-default-color;
$btn-warning-bg: $brand-warning;
$btn-warning-border: $btn-warning-bg;

$btn-danger-color: $btn-default-color;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $btn-danger-bg;

$btn-link-disabled-color: $gray-light;
$btn-border-radius-base: $border-radius-base;
$btn-border-radius-large: $border-radius-large;
$btn-border-radius-small: $border-radius-small;
$input-bg: rgb(255, 255, 255);
$input-bg-disabled: $gray-lighter;
$input-color: $text-color;
$input-border: $gray-dark;
$input-border-radius: $border-radius-base;
$input-border-radius-large: $border-radius-large;
$input-border-radius-small: $border-radius-small;
$input-border-focus: rgb(102, 175, 233);
$input-color-placeholder: $gray-light;
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2);
$input-height-large: (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small: (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);
$form-group-margin-bottom: 15px;
$legend-color: $text-color;
$legend-border-color: $gray-dark;
$input-group-addon-bg: $btn-default-bg;
$input-group-addon-border-color: $input-border;
$cursor-disabled: not-allowed;
$dropdown-bg: $gray-darker;
$dropdown-border: rgba(255, 255, 255, 0.1);
$dropdown-fallback-border: rgb(68, 68, 68);
$dropdown-divider-bg: rgba(255, 255, 255, 0.1);
$dropdown-link-color: rgb(255, 255, 255);
$dropdown-link-hover-color: rgb(255, 255, 255);
$dropdown-link-hover-bg: $component-active-bg;
$dropdown-link-active-color: rgb(255, 255, 255);
$dropdown-link-active-bg: $component-active-bg;
$dropdown-link-disabled-color: $gray-light;
$dropdown-header-color: $gray-light;
$dropdown-caret-color: rgb(0, 0, 0);
$zindex-navbar: 1000;
$zindex-dropdown: 1000;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
$zindex-navbar-fixed: 1030;
$zindex-modal-background: 1040;
$zindex-modal: 1050;
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-float-breakpoint: $screen-sm-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);
$container-tablet: (720px + $grid-gutter-width);
$container-sm: $container-tablet;
$container-desktop: (940px + $grid-gutter-width);
$container-md: $container-desktop;
$container-large-desktop: (1140px + $grid-gutter-width);
$container-lg: $container-large-desktop;
$navbar-height: 50px;
$navbar-margin-bottom: $line-height-computed;
$navbar-border-radius: $border-radius-base;
$navbar-padding-horizontal: floor(($grid-gutter-width / 2));
$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height: 340px;
$navbar-default-color: $text-color;
$navbar-default-bg: $body-bg;
$navbar-default-border: $gray-dark;
$navbar-default-link-color: $text-color;
$navbar-default-link-hover-color: rgb(255, 255, 255);
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: rgb(255, 255, 255);
$navbar-default-link-active-bg: transparent;
$navbar-default-link-disabled-color: $gray-light;
$navbar-default-link-disabled-bg: transparent;
$navbar-default-brand-color: rgb(255, 255, 255);
$navbar-default-brand-hover-color: rgb(255, 255, 255);
$navbar-default-brand-hover-bg: transparent;
$navbar-default-toggle-hover-bg: $gray-dark;
$navbar-default-toggle-icon-bar-bg: rgb(204, 204, 204);
$navbar-default-toggle-border-color: $gray-dark;
$navbar-inverse-color: $gray-light;
$navbar-inverse-bg: $gray-darker;
$navbar-inverse-border: darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-color: $gray-light;
$navbar-inverse-link-hover-color: rgb(255, 255, 255);
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg: transparent;
$navbar-inverse-link-disabled-color: rgb(170, 170, 170);
$navbar-inverse-link-disabled-bg: transparent;
$navbar-inverse-brand-color: rgb(255, 255, 255);
$navbar-inverse-brand-hover-color: rgb(255, 255, 255);
$navbar-inverse-brand-hover-bg: transparent;
$navbar-inverse-toggle-hover-bg: rgb(51, 51, 51);
$navbar-inverse-toggle-icon-bar-bg: rgb(255, 255, 255);
$navbar-inverse-toggle-border-color: rgb(51, 51, 51);
$nav-link-padding: 10px 15px;
$nav-link-hover-bg: $gray-darker;
$nav-disabled-link-color: $gray-light;
$nav-disabled-link-hover-color: $gray-light;
$nav-tabs-border-color: $gray-dark;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-active-link-hover-bg: $brand-primary;
$nav-tabs-active-link-hover-color: rgb(255, 255, 255);
$nav-tabs-active-link-hover-border-color: $gray-dark;
$nav-tabs-justified-link-border-color: rgb(221, 221, 221);
$nav-tabs-justified-active-link-border-color: $body-bg;
$nav-pills-border-radius: $border-radius-base;
$nav-pills-active-link-hover-bg: $component-active-bg;
$nav-pills-active-link-hover-color: $component-active-color;
$pagination-color: rgb(255, 255, 255);
$pagination-bg: $gray-darker;
$pagination-border: $gray-dark;
$pagination-hover-color: rgb(255, 255, 255);
$pagination-hover-bg: $component-active-bg;
$pagination-hover-border: transparent;
$pagination-active-color: rgb(255, 255, 255);
$pagination-active-bg: $brand-primary;
$pagination-active-border: transparent;
$pagination-disabled-color: $gray-light;
$pagination-disabled-bg: $gray-darker;
$pagination-disabled-border: $gray-dark;
$pager-bg: $pagination-bg;
$pager-border: $pagination-border;
$pager-border-radius: 15px;
$pager-hover-bg: $pagination-hover-bg;
$pager-active-bg: $pagination-active-bg;
$pager-active-color: $pagination-active-color;
$pager-disabled-color: $gray-light;
$jumbotron-padding: 30px;
$jumbotron-color: inherit;
$jumbotron-bg: darken($gray-darker, 5%);
$jumbotron-heading-color: inherit;
$jumbotron-font-size: ceil(($font-size-base * 1.5));
$jumbotron-heading-font-size: ceil(($font-size-base * 4.5));

$state-success-text: rgb(255, 255, 255);
$state-success-bg: darken($brand-success, 17%);
$state-success-border: lighten(adjust_hue($state-success-bg, -10), 8%);

$state-info-text: rgb(255, 255, 255);
$state-info-bg: darken($brand-info, 17%);
$state-info-border: lighten(adjust_hue($state-info-bg, -10), 8%);

$state-warning-text: rgb(255, 255, 255);
$state-warning-bg: darken($brand-warning, 17%);
$state-warning-border: lighten(adjust_hue($state-warning-bg, -10), 8%);

$state-danger-text: #fff;
$state-danger-bg: darken($brand-danger, 17%);
$state-danger-border: lighten(adjust-hue($state-danger-bg, -10), 8%);

$tooltip-max-width: 200px;
$tooltip-color: rgb(255, 255, 255);
$tooltip-bg: lighten($body-bg, 15%);
$tooltip-opacity: .9;
$tooltip-arrow-width: 5px;
$tooltip-arrow-color: $tooltip-bg;
$popover-bg: $tooltip-bg;
$popover-max-width: 276px;
$popover-border-color: rgba(0, 0, 0, 0.2);
$popover-fallback-border-color: $popover-bg;
$popover-title-bg: darken($popover-bg, 3%);
$popover-arrow-width: 10px;
$popover-arrow-color: $popover-bg;
$popover-arrow-outer-width: ($popover-arrow-width + 1);
$popover-arrow-outer-color: $popover-border-color;
$popover-arrow-outer-fallback-color: $popover-fallback-border-color;
$label-default-bg: $btn-default-bg;
$label-primary-bg: $brand-primary;
$label-success-bg: $brand-success;
$label-info-bg: $brand-info;
$label-warning-bg: $brand-warning;
$label-danger-bg: $brand-danger;
$label-color: rgb(255, 255, 255);
$label-link-hover-color: rgb(255, 255, 255);
$modal-inner-padding: 20px;
$modal-title-padding: 15px;
$modal-title-line-height: $line-height-base;
$modal-content-bg: lighten($body-bg, 10%);
$modal-content-border-color: rgba(0, 0, 0, 0.2);
$modal-content-fallback-border-color: rgb(153, 153, 153);
$modal-backdrop-bg: rgb(0, 0, 0);
$modal-backdrop-opacity: .5;
$modal-header-border-color: $gray-dark;
$modal-footer-border-color: $modal-header-border-color;
$modal-lg: 900px;
$modal-md: 600px;
$modal-sm: 300px;
$alert-padding: 15px;
$alert-border-radius: $border-radius-base;
$alert-link-font-weight: bold;
$alert-success-bg: $state-success-bg;
$alert-success-text: $state-success-text;
$alert-success-border: $state-success-border;
$alert-info-bg: $state-info-bg;
$alert-info-text: $state-info-text;
$alert-info-border: $state-info-border;
$alert-warning-bg: $state-warning-bg;
$alert-warning-text: $state-warning-text;
$alert-warning-border: $state-warning-border;
$alert-danger-bg: $state-danger-bg;
$alert-danger-text: $state-danger-text;
$alert-danger-border: $state-danger-border;
$progress-bg: $gray-darker;
$progress-bar-color: rgb(255, 255, 255);
$progress-border-radius: $border-radius-base;
$progress-bar-bg: $brand-primary;
$progress-bar-success-bg: $brand-success;
$progress-bar-warning-bg: $brand-warning;
$progress-bar-danger-bg: $brand-danger;
$progress-bar-info-bg: $brand-info;
$list-group-bg: $gray-darker;
$list-group-border: $gray-dark;
$list-group-border-radius: $border-radius-base;
$list-group-hover-bg: lighten($list-group-bg, 15%);
$list-group-active-color: $component-active-color;
$list-group-active-bg: $component-active-bg;
$list-group-active-border: $list-group-active-bg;
$list-group-active-text-color: lighten($list-group-active-bg, 40%);
$list-group-disabled-color: $gray-light;
$list-group-disabled-bg: $gray-lighter;
$list-group-disabled-text-color: $list-group-disabled-color;
$list-group-link-color: $text-color;
$list-group-link-hover-color: $list-group-link-color;
$list-group-link-heading-color: rgb(255, 255, 255);
$panel-bg: $gray-darker;
$panel-body-padding: 15px;
$panel-heading-padding: 10px 15px;
$panel-footer-padding: $panel-heading-padding;
$panel-border-radius: $border-radius-base;
$panel-inner-border: $gray-dark;
$panel-footer-bg: lighten($gray-darker, 10%);
$panel-default-text: $text-color;
$panel-default-border: $panel-inner-border;
$panel-default-heading-bg: $panel-footer-bg;
$panel-primary-text: rgb(255, 255, 255);
$panel-primary-border: $brand-primary;
$panel-primary-heading-bg: $brand-primary;
$panel-success-text: $state-success-text;
$panel-success-border: $state-success-border;
$panel-success-heading-bg: $state-success-bg;
$panel-info-text: $state-info-text;
$panel-info-border: $state-info-border;
$panel-info-heading-bg: $state-info-bg;
$panel-warning-text: $state-warning-text;
$panel-warning-border: $state-warning-border;
$panel-warning-heading-bg: $state-warning-bg;
$panel-danger-text: $state-danger-text;
$panel-danger-border: $state-danger-border;
$panel-danger-heading-bg: $state-danger-bg;
$thumbnail-padding: 4px;
$thumbnail-bg: $gray-dark;
$thumbnail-border: $gray-dark;
$thumbnail-border-radius: $border-radius-base;
$thumbnail-caption-color: $text-color;
$thumbnail-caption-padding: 9px;
$well-bg: darken($gray-darker, 5%);
$well-border: darken($well-bg, 7%);
$badge-color: rgb(255, 255, 255);
$badge-link-hover-color: rgb(255, 255, 255);
$badge-bg: $brand-primary;
$badge-active-color: $brand-primary;
$badge-active-bg: rgb(255, 255, 255);
$badge-font-weight: bold;
$badge-line-height: 1;
$badge-border-radius: 10px;
$breadcrumb-padding-vertical: 8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg: $gray-darker;
$breadcrumb-color: rgb(255, 255, 255);
$breadcrumb-active-color: $text-color;
$breadcrumb-separator: "/";
$carousel-text-shadow: 0 1px 2px rgba(0,0,0,.6);
$carousel-control-color: rgb(255, 255, 255);
$carousel-control-width: 15%;
$carousel-control-opacity: .5;
$carousel-control-font-size: 20px;
$carousel-indicator-active-bg: rgb(255, 255, 255);
$carousel-indicator-border-color: rgb(255, 255, 255);
$carousel-caption-color: rgb(255, 255, 255);
$close-font-weight: bold;
$close-color: rgb(0, 0, 0);
$close-text-shadow: 0 1px 0 #fff;
$code-color: rgb(199, 37, 78);
$code-bg: rgb(249, 242, 244);
$kbd-color: rgb(255, 255, 255);
$kbd-bg: rgb(51, 51, 51);
$pre-bg: rgb(245, 245, 245);
$pre-color: $gray-dark;
$pre-border-color: rgb(204, 204, 204);
$pre-scrollable-max-height: 340px;
$component-offset-horizontal: 180px;
$text-muted: $gray-light;
$abbr-border-color: $gray-light;
$headings-small-color: $gray-light;
$blockquote-small-color: $gray;
$blockquote-font-size: ($font-size-base * 1.25);
$blockquote-border-color: $gray-dark;
$page-header-border-color: $gray-dark;
$dl-horizontal-offset: $component-offset-horizontal;
$dl-horizontal-breakpoint: $grid-float-breakpoint;
$hr-border: $gray-dark;
